@model IEnumerable<BootPress.Models.News>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Index";
}
<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">News Management</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">News</a></li>
            <li class="breadcrumb-item active">Daftar Berita</li>
        </ol>
    </div>
    <div class="col-md-6 col-4 align-self-center">

    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><a href="@Url.Action("Create","News")" class="btn btn-info btn-rounded">Tambahkan Berita</a></h4>
                <div class="table-responsive m-t-40">
                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Judul Berita</th>
                                <th>Kategori</th>
                                <th>Penulis</th>
                                <th>Tanggal</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Judul Berita</th>
                                <th>Kategori</th>
                                <th>Penulis</th>
                                <th>Tanggal</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Title</td>
                                    <td>@item.Category.Name</td>
                                    @{
                                        if (item.Author != null)
                                        {
                                            <td>@item.Author.FullName</td>
                                        }
                                        else
                                        {
                                            <td>Tidak Ada Penulis</td>
                                        }
                                    }
                                    <td>@item.Created.ToString("dd-MM-yyyy hh:mm")</td>
                                    <td>
                                        <a href="@Url.Action("NewsEdit","Administrators", new { permalink = @item.Permalink })" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                        <a href="@Url.Action("NewsDetail","Administrators", new { permalink = @item.Permalink })" data-toggle="tooltip" data-original-title="Detail"> <i class="fa fa-globe text-danger"></i> </a>
                                    </td>
                                </tr>
                                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
